{% extends "layout.html" %} {% block content %}
<div class="mx-auto w-50">
  <h1 class="mt-5 text-center">Welcome {{ current_user.name }}!</h1>
  <div class="d-flex flex-column">
    <div>
      <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Account Info</legend>
          <div class="form-group">
            {{ form.username.label(class="form-control-label") }} {% if
            form.username.errors %} {{ form.username(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.username(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.email.label(class="form-control-label") }} {% if
            form.email.errors %} {{ form.email(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.email(class="form-control form-control-lg") }} {%
            endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
      <form
        method="POST"
        action=""
        enctype="multipart/form-data"
        onSubmit="return confirm('Are you sure you wish to delete?');"
      >
        {{ delete_form.hidden_tag() }}
        <div class="form-group red">
          {{ delete_form.delete(class="btn bg-danger") }}
        </div>
      </form>
    </div>
    <br />
    <div class="mb-5">
      <legend class="border-bottom mb-4">Orders</legend>
      <div class="d-flex p-2 mx-auto width: 300px">
        <a
          href="{{ url_for('orders.user_orders', username=current_user.username) }}"
          class="btn btn-primary mr-3"
          >View Orders</a
        >
        <a href="/orders/new" class="btn btn-primary">Make Order</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
