{% extends "layout.html" %} {% block content %}
<div class="container">
  {% if message %}
  <p class="message">{{ message | safe }}</p>
  {% endif %}
  <form action="/submit" method="POST">
    <div class="form-group">
      <h1>New Order</h1>
    </div>
    <div class="form-group">
      <h3>Service</h3>
      <select name="service">
        {% for service in services %}
        <option value="">{{service}}</option>
        {% endfor %}
        <option value="">Select Service</option>
        <!-- TODO: list all the services here -->
        <option value="Web Services">Web Services</option>
        <option value="Mobile Services">Mobile Services (iOS/Android)</option>
        <option value="Digital Consultancy">Digital Consultancy</option>
        <option value="Design">Design</option>
      </select>
    </div>
    <div class="form-group">
      <h3>Developers</h3>
      <select name="developers">
        <option value="">Select Developers</option>
        <!-- TODO: list all  developers for selected service -->
        {% for developer in developers %}
        <option value="">{{developer}} </option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <h3>Requirements</h3>
      <textarea
        name="comments"
        id=""
        cols="30"
        rows="10"
        placeholder="Please describe what you would like for us to achieve"
      ></textarea>
    </div>
    <input type="submit" value="Submit" class="btn" />
  </form>
</div>
{% endblock content %}
