{% extends "admin/layout.html" %} {% block content %}
<div class="container">
  <h2 class="pt-3">Developers</h2>
  <table class="table mt-5">
    <tr>
      <th>Developer</th>
      <th>Cost (€/hr)</th>
      <th>Experience Level</th>
      <th>Skill Set</th>
      <th>Assigned Orders</th>
    </tr>
    {% for developer in developers %}
    <tr>
      <td>{{developer.name}}</td>
      <td>{{developer.hourly_cost}}</td>
      {% if developer.experience_level == 1 %}
      <td>Junior</td>
      {% elif developer.experience_level == 2 %}
      <td>Mid</td>
      {% else %}
      <td>Senior</td>
      {% endif%}
      <td>
        {% for service in developer.services %}
        <span><strong>[{{service.name}}] </strong></span> {% endfor %}
      </td>
      <td>
        {% for order in developer.orders %}
        <span><strong>[{{order.title}}] </strong></span> {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>

  <a href="{{ url_for('developers.new_developer') }}" class="btn btn-primary"
    >Add Developer</a
  >
</div>

{% endblock content %}
