{% extends "admin/layout.html" %} {% block content %}
<div class="container">
  <article class="media content-section">
    <div class="media-body">
      <table class="table mt-5 pb-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Client</th>
            <th scope="col">Order Title</th>
            <th scope="col">Ordered</th>
            <th scope="col">Service</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tr>
          <th>{{ order.account.name }}</th>
          <th>{{ order.title }}</th>
          <th>{{ order.date_created.strftime('%Y-%m-%d') }}</th>
          <th>{{ order.service.name }}</th>
          {% if order.complete == True %}
          <th>Complete ✔</th>
          {% else %}
          <th>
            <form
              action="{{ url_for('orders.mark_done', order_id=order.id) }}"
              method="POST"
            >
              <input class="px-3" type="submit" value="Mark Complete" />
            </form>
          </th>
          {%endif %}
        </tr>
      </table>
      {% if order.complete == False %}
      <div class="container">
        <hr />
        <h2 class="pt-5">List of Developers Available for the Job:</h2>
        {% for developer in developers_available%} {{ developer.name }} {%
        endfor %}
        <div class="d-flex flex-column">
          <div class="d-flex">
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#"
              >Assign Developers</a
            >
            <button
              type="button"
              class="btn btn-danger btn-sm m-1"
              data-toggle="modal"
              data-target="#deleteModal"
            >
              Cancel Order
            </button>
          </div>
        </div>
      </div>
      {%endif%}
    </div>
  </article>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Cancel Order?</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <div class="w-50">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
        <div class="w-50">
          <form
            action="{{ url_for('orders.delete_order', order_id=order.id) }}"
            method="POST"
          >
            <input class="btn btn-danger" type="submit" value="Delete" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
