{% extends "admin/layout.html" %} {% block content %}
<div class="container">
  <article class="media content-section">
    <div class="media-body">
      <table class="table mt-5 pb-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Client</th>
            <th scope="col">Order Title</th>
            <th scope="col">Ordered</th>
            <th scope="col">Service</th>
            <th scope="col">Developers Assigned</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tr>
          <th>{{ order.account.name }}</th>
          <th>{{ order.title }}</th>
          <th>{{ order.date_created.strftime('%Y-%m-%d') }}</th>
          <th>{{ order.service.name }}</th>
          <th>
            <ul>
              {% for developer in order.developers%}
              <li>{{developer.name}}</li>
              {%endfor%}
            </ul>
          </th>
          {% if order.complete == True %}
          <th>Complete ✔</th>
          {% else %}
          <th>
            <form
              action="{{ url_for('orders.mark_done', order_id=order.id) }}"
              method="POST"
            >
              <input class="px-3" type="submit" value="Mark Complete" />
            </form>
          </th>
          {%endif %}
        </tr>
      </table>
      {% if order.complete == False %}
      <div class="container">
        <hr />
        <h2 class="pt-5">List of Developers Available for the Job:</h2>
        <div class="d-flex flex-column">
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              <div class="form-group">
                {% if form.developers.errors %} {{
                form.developers(class="form-control form-control-lg is-invalid")
                }}
                <div class="invalid-feedback">
                  {% for error in form.developers.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.developers(class="") }} {% endif %}
              </div>
            </fieldset>
            <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
            </div>
          </form>
        </div>
      </div>
      {%endif%}
    </div>
  </article>
</div>
{% endblock content %}
