{% extends "admin/layout.html" %} {% block content %}
<div class="container ">
  <h1 class="text-center  pb-5">Services</h1>
  <h2>Our Services & Demand </h2>
  <br/>
  <div class="services pb-5 w-100">
    {% for service in services%}
    <div> 
        <span class="text-center font-weight-bold">
          {{service.name}}
        </span>
        <span class="text-center">
          [Orders:{{service.orders}}]
        </span>
        <form
          action="{{ url_for('services.delete_service', service_id=service.id) }}"
          method="POST"
        >
          <input class="btn btn-danger btn-sm w-4" type="submit" value="Remove" />
        </form>
     </div>
      {% endfor%}
    </div>
    <a
      class="btn btn-lg btn-primary mx-auto mb-4"
      href="{{ url_for('services.new_service') }}"
      >Add service</a
    >
  </form>
</div>

{% endblock content %}
